{% extends "/base_pages/base.html" %}	
{% block header %}
<header>
	<nav class="menu">
		<img src="https://static.vecteezy.com/system/resources/previews/001/199/972/large_2x/dog-png.png" align="right" height="70" width="90" border="0" hspace="0" vspace="5">
		<ul class="top">
			<li><a href="/">MAIN</a></li>
			<li><a >SETTINGS</a>
				<ul class="submenu">
					<li><a href="/settings/schedule">schedule</a></li>
					<li><a href="/settings/addpets">add pets</a></li>
				</ul>
			</li>
			<li><a href="/about_us"> ABOUT US </a></li>
		</ul>
	</nav>	
</header>
{% endblock %}